@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  display: flex;
  padding: 15px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 12px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  text-decoration: none;
  color:dimgrey
}

.header, .footer, .left-links, .right-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.footer {
  background-color: #eee;
}
